
@import "variables";

.navbar {
	padding: 10px 0;
	width: 100%;
	display: block;
	background-color: #fdfdfd;
	border-bottom: 3px solid #090909;
	li {
		display: inline-block;
		a {
			padding: 12px 16px; 
			text-decoration: none; 
			font-size: 20px;
			color: #090909;  
		} 
	}
}

/* Fade */
.hvr-fade {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(255,255,255,1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
	background-color: #FF002A;
	color: #ffffff;
}

.cartIcone {
	width: 30px;
	height: 30px; 
	display: block;
	background: url('../../assets/images/cart.png') no-repeat 50% 96%;
}